{% extends 'ecommerce_app/base.html' %}
{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="border rounded p-4 m-4 col-md-4 mx-auto pt-4">

    <h1><b>Your Order{{ products.count|pluralize }}</b></h1>
    <table class="table">
        <thead class="bg-primary">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>

        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price|currency}}</td>
            <td>{{product|cart_quantity:request.session.cart}}</td>
            <td>{{product|price_total:request.session.cart|currency}}</td>
        </tr>

        {% endfor %}

        </tbody>
        <h5><b>Total:{{products|total_cart_price:request.session.cart|currency}}</b></h5>

    </table>
</div>
</div>
<body style=" justify-content: center; align-items: center;text-align: center">
<h1 style="margin-top:0.5rem"><b>Payment Details</b></h1>
<form action="/check-out" method="POST">
    {% csrf_token %}

    <div class="mx-auto" style="width:500px;">
        <div class="space">
            <table>

                <tr>
                    <td><input type="text" class="form-control" placeholder="Enter City..." name="city" required/></td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Enter Country..." name="country" required/>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Enter Address..." name="address" required/>
                    </td>
                </tr>
                <tr>
                    <td><input type="number" class="form-control" style="width:500px;" placeholder="Enter Phone..."
                               name="phone" required/></td>
                </tr>
            </table>
        </div>
    </div>

    <input type="submit" onclick="alert('Payment Successful!')"
           style="margin-top:1rem ;background-color:black;color:white;width:170px;height:40px;font-size:20px"
           value="Place Order" data-toggle="modal" data-target="#exampleModal">


</form>
</body>

{% endblock %}



























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































